.back_img
{
    width: 100%;
    position: relative;
}

.titlu
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Special Gothic Expanded One;
    color: rgba(255, 255, 255, 0.696);
    width: 35vw;
    height: 25vh;
    border-radius: 20px;
    background-color: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    top: 20vh;
    left: 5vw;
    padding: 1vh 1vw;
    /*box-shadow: 1px 1px rgba(255, 255, 255), 
                -1px -1px rgba(255, 255, 255),
                -1px 1px rgba(255, 255, 255), 
                1px -1px rgba(255, 255, 255);*/
}

.titlu1
{
    font-size: 6vw;
}

.titlu2
{
    font-size: 3vw;
}

.video_div
{
    position: absolute;
    top: 55vh;
    left: 5vw;
    width: 37vw;
}

.video
{
    border-radius: 20px;
}

.about
{
    display: flex;
    flex-direction: column;
    padding: 0vh 1vw;
    padding-top: 10vh;
}

.about_title
{
    color: white;
}

.about_img
{
    width: 40vw;
}

.about_text
{
    color: white;
    font-size: 1.5vw;
    line-height: 4vh;
    margin-left: 1vw;
}
.about2
{
    display: flex;
    flex-direction: row;
}

.sponsors
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors_title
{
    font-family: Special Gothic Expanded One;
    font-size: 8vh;
    font-weight: bold;
    color: white;
    padding: 5vh 0;
}

.sponsor_section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sponsor_row
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0px;
}

.team_card
{
    display: flex;
    flex-direction: column;
}

.member_div
{
    position: relative;
    width: 26vw;
    height: 13vw;
    border-radius: 20px 20px 0px 0px;
    background-color: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(5px);
}

.member_pfp
{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 100px;
}

.member_info
{
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26vw;
    height: 8vw;
    border-radius: 0px 0px 20px 20px;
}

.member_name
{
    color: white;
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 8px;
}

.member_role
{
    color: white;
    font-size: 24px;
    padding-top: 8px;
}