.back_img
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.titlu
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Special Gothic Expanded One;
    color: rgba(255, 255, 255, 0.696);
    width: 40vw;
    height: 25vh;
    border-radius: 20px;
    background-color: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20vh;
    margin-left: 5vw;
    padding: 1vh 1vw;
    /*box-shadow: 1px 1px rgba(255, 255, 255), 
                -1px -1px rgba(255, 255, 255),
                -1px 1px rgba(255, 255, 255), 
                1px -1px rgba(255, 255, 255);*/
}

.titlu1
{
    font-size: 6vw;
}

.titlu2
{
    font-size: 3vw;
}
.about
{
    display: flex;
    flex-direction: column;
    padding: 0vh 1vw;
    padding-top: 10vh;
}

.about_title
{
    color: white;
}

.about_img
{
    width: 40vw;
}

.about_text
{
    color: white;
    font-size: 1.5vw;
    line-height: 4vh;
    margin-left: 1vw;
}
.about2
{
    display: flex;
    flex-direction: row;
}