html
{
    scroll-behavior: smooth;
}

body
{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-bottom: 1000px;
    z-index: 1;
    background: #3abae8;
    background: linear-gradient(355deg,rgba(58, 186, 232, 1) 0%, rgba(87, 199, 133, 1) 69%, rgba(131, 194, 54, 1) 100%);
}