@media only screen and (max-width: 414px)
{
    .div_sigla_best
    {
        width: 30vw;
        padding-left: 3vw;
    }

    .sigla_best
    {
        width: 100%;
    }

    .empty
    {
        width: 1fr;
        min-width: 0px;
    }

    .banner_links
    {
        display: flex;
        justify-content:space-between;
        width: 50vw;
    }

    .banner_link
    {
        color: white;
        font-size: 1vh;
    }

    .side_link
    {
        flex: 1;
        color: white;
        font-size: 1vh;
        margin: 20% 0px;
    }

    .titlu
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: Special Gothic Expanded One;
        color: rgba(255, 255, 255, 0.696);
        width: 50vw;
        height: 10vh;
        border-radius: 20px;
        background-color: rgba(200, 200, 200, 0.2);
        backdrop-filter: blur(5px);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        top: 10vh;
        left: 5vw;
        padding: 1vh 1vw;
        /*box-shadow: 1px 1px rgba(255, 255, 255), 
                    -1px -1px rgba(255, 255, 255),
                    -1px 1px rgba(255, 255, 255), 
                    1px -1px rgba(255, 255, 255);*/
    }

    .titlu1
    {
        font-size: 7vw;
    }

    .titlu2
    {
        font-size: 4vw;
    }
}